<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CyberSec Platform</title>

    <!-- CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="{% block body_class %}{% endblock %}">

    <canvas id="matrix"></canvas>

    <!-- 🌌 CYBER BACKGROUND -->
<div class="cyber-bg"></div>

<!-- ✨ GLOW -->
<div class="glow glow1"></div>
<div class="glow glow2"></div>

<!-- 🔥 LOADER -->
<div id="loader">
    <div class="spinner"></div>
</div>

<!-- 🔔 ALERTS -->
<div id="alertBox"></div>

<!-- HEADER -->
<header class="main-header">

    <div class="logo">
        🔐 CyberSec
    </div>

    <nav>

{% if session.get("user") %}
    <a href="/">Home</a>
{% else %}
    <a href="/landing">Home</a>
{% endif %}
        {% if session.get("user") %}
            <a href="/upload">Scan File</a>
            <a href="/scan_url">Scan URL</a>
            <a href="/dashboard">Dashboard</a>

            {% if session.get("is_admin") %}
                <a href="/admin">Admin</a>
            {% endif %}

            <a href="/logout">Logout</a>

        {% else %}

            <a href="/login">Login</a>
            <a href="/register">Register</a>

        {% endif %}

        <!-- 🌍 LANGUAGE -->
        {% if lang == "en" %}
            <a href="/setlang/ar">AR</a>
        {% else %}
            <a href="/setlang/en">EN</a>
        {% endif %}

    </nav>

</header>

<!-- MAIN CONTENT -->
<div class="page-content">

    {% block content %}{% endblock %}

</div>

<!-- JS -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>