{% extends "base.html" %}

{% block content %}

<div class="hero fade-in">

    <div class="hero-content">

        <div class="small-badge">
            Advanced Cyber Security Platform
        </div>

        <h1>
            Protect Systems <br>
            Detect Threats <br>
            Monitor Everything
        </h1>

        <p>
            Powerful cyber security platform designed for scanning files,
            analyzing suspicious URLs, monitoring threats,
            and visualizing live security statistics
            through a modern futuristic dashboard.
        </p>

        <div class="hero-buttons">

            {% if user %}

                <a href="/dashboard" class="hero-btn primary-btn">
                    Open Dashboard
                </a>

            {% else %}

                <a href="/register" class="hero-btn primary-btn">
                    Create Account
                </a>

                <a href="/login" class="hero-btn secondary-btn">
                    Login
                </a>

            {% endif %}

        </div>

        <div class="live-stats">

            <div class="live-card">
                <h2>150+</h2>
                <p>Threat Scans</p>
            </div>

            <div class="live-card">
                <h2>99%</h2>
                <p>Detection Accuracy</p>
            </div>

            <div class="live-card">
                <h2>24/7</h2>
                <p>System Monitoring</p>
            </div>

        </div>

    </div>

</div>

{% endblock %}